[canvas=container],
[off-canvas] {
/*    padding: 10px 20px; */
}

[class*=js-] {
    cursor: pointer;
}

nav {
    background-color: gray;
    padding: 10px 5px;
    border-bottom: solid #32CD32 1px;
}

.logo {
    height: 60px;
    width: auto;
}

img {
    padding: 0;
    margin: 0
}

.location {
    padding: 0;
    margin: 0;
    height: 50px;
    width: 50px
}

.block {
    background-color: #000;
    padding: 0;
    font-family: 'Arvo', serif;
    font-weight: 600;
    font-size: 1.3em;

}
.blockli a {
    padding: 1.2em;
}

.blockli {
    border-bottom: solid #fff 2px;
    padding: 12.8% 0;
}

li {
    list-style-type: none;
}

[off-canvas] {
    background-color: #32CD32;
}

a:hover {
    text-decoration: none;
    color: #32CD32;
}
a:link {
    color: #32CD32;
    text-decoration: none;
}

a:visited {
    color: #32CD32;
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

ul {
    padding: 5px 0;
    margin: 0;
}

.eLetter {
    background-color: #fff;
    margin: 5px 0 0 0;

}

[canvas=container] {
    background-color: black;
}

.sip {
    background-color: #fff;
    margin: 5px 0;
    padding: 5px 0;
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
    font-weight: 700;

}

.whiteFull {
    background-color: #fff;
    margin: 5px 0;
    padding: 5px 20px;
}
.time {
    border-top: solid #32CD32 2px;
    border-bottom: solid #32CD32 2px;

}

.btn {
    border-radius: 8px;
}

.backGreen h3 {
    color: #000;
    padding: .5em;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}

.backGreen {
    background-color: #5cb85c;
    padding: 1em;
}

.backGreen span {
    color: #fff;
}

.promoLinks {
}

.copyRight {
    color: #fff;
}

.footerNav {
    color: #fff;
}

.openSans {
    font-family: 'Open Sans', sans-serif;
}

.arvo {
    font-family: 'Arvo', serif;
}
