[canvas=container],
[off-canvas] {
/*    padding: 10px 20px; */
}

[class*=js-] {
    cursor: pointer;
}

nav {
    background-color: gray;
    padding: 10px 5px;
    border-bottom: solid #32CD32 1px;
}

.logo {
    height: 60px;
    width: auto;
}

img {
    padding: 0;
    margin: 0
}

.location {
    padding: 0;
    margin: 0;
    height: 50px;
    width: 50px
}

.block {
    background-color: #000;
    padding: 0;
}

.blockli {
    margin-bottom: 10px;
    border-bottom: solid #fff 2px;
}

li {
    list-style-type: none;
}

[off-canvas] {
    background-color: #32CD32;
}

a:hover {
    text-decoration: none;
    color: #32CD32;
}
a:link {
    color: #32CD32;
    text-decoration: none;
}

a:visited {
    color: #32CD32;
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

ul {
    padding: 5px 0;
    margin: 0;
}

.eLetter {
    background-color: #fff;
    margin: 5px 0 0 0;
}

[canvas=container] {
    background-color: black;
}

.sip {
    background-color: #fff;
    margin: 5px 0;
    padding: 5px 0;
}

.whiteFull {
    background-color: #fff;
    margin: 5px 0;
    padding: 5px 20px;
}
.time {
    border-top: solid #32CD32 2px;
    border-bottom: solid #32CD32 2px;
}

.btn {
    border-radius: 8px;
}
